<h1>Welcome to Lambda Chi Alpha at URI</h1>
<div>
    <p>Lambda Chi Alpha at URI, known as the Zeta Eta chapter, offers a dynamic fraternity life filled with opportunities for personal growth and skill development.</p>
    <p>We invite you to discover our commitment to brotherhood, leadership, and community engagement. Dive into our website to uncover our mission, learn about upcoming events, and find out how you can join or support our endeavors.</p>
</div>
<img src="images/fraternity_house.jpg" alt="Lambda Chi Alpha Fraternity House" width="500" height="300">
